__pycache__/
*.py[cod]
.idea

loader_data/data
loader_data/load_poly_settlement/sett*.json

.env
*/trash*.txt
ftp_tracker/ftp
ftp_tracker/monitor_dir

triggers.txt
**/logs
appended_module.py
mondir/
monitor_dir/
loader_data/load_poly_settlement/venv
ftp_tracker/data
**/venv

test/